@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 1000px;
    height: 800px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.login-form {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.icone-con{
	width: 60px;
	height: 60px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para os campos de input com ícones */
.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}

.input-container input {
    width: 100%;
    padding: 10px;
    padding-left: 40px; /* Espaço para o ícone */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

a {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-decoration: none;
}

a span {
    color: #00dac0;
    cursor: pointer;
    font-weight: 600;
}

a span:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #00dac0;
    color: white;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/VELVET\ 1.jpg);
    background-position: center;
    background-color: #00dac0;
}

.logo img {
	    width: 100%;
	
}
